KEY_OpenAI="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"
KEY_GeminiAPI="AIzaSyCZXYmgYwccIaqgJBFLIlYn7zSSTysZhoo"